backend:
  name: github
  repo: bonitasoft-labs/talks

media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow

collections:
  - name: "talks"
    label: "Talks"
    folder: "src/pages/talks"
    create: true
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "talks-post"}
      - {label: "Generic Title", name: "title", widget: "string"}
      - {label: "Talk Title", name: "talktitle", widget: "string", required: false}
      - {label: "Talk Title (fr)", name: "talktitlefr", widget: "string", required: false}
      - {label: "Publish Date", name: "date", widget: "date", format: "YYYY-MM-DD"}
      - {label: "Featured", name: "featuredpost", widget: "boolean", required: false}
      - {label: "Short Summary", name: "description", widget: "text", required: false}
      - {label: "Short Summary (fr)", name: "descriptionfr", widget: "text", required: false}
      - {label: "Author(s)", name: "authors", widget: "list"}
      - {label: "Type", name: "type", widget: "select", options: ["conference (30-45min)", "quicky (15min)", "lightning (5min)", "Deep dive (2-3h)", "Workshop"]}
      - {label: "Selected At", name: "selectedat", widget: "list", required: false}
      - {label: "Presented At", name: "presentedat", widget: "list", required: false}
      - {label: "Slides (url)", name: "slides", widget: "string", required: false}
      - {label: "Videos (url)", name: "videos", widget: "list", required: false}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Abstract, details & notes", name: "body", widget: "markdown"}
      - {label: "Résumé, détails & notes (fr)", name: "bodyfr", widget: "markdown", required: false}
  - name: "speakers"
    label: "Speakers"
    folder: "src/pages/speakers"
    create: true
    identifier_field: alias
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "speaker"}
      - {label: "Alias", name: "alias", widget: "string"}
      - {label: "First Name", name: "firstname", widget: "string"}
      - {label: "Last Name", name: "lastname", widget: "string"}
      - {label: "Job Title", name: "jobtitle", widget: "string"}
      - {label: "Profile picture", name: "picture", widget: image}
      - {label: "Bio", name: "body", widget: "markdown", required: false}
      - {label: "Bio (fr)", name: "bodyfr", widget: "markdown", required: false}
      - {label: "Twitter (absolute url)", name: "twitter", widget: "string", required: false}
      - {label: "Github (absolute url)", name: "github", widget: "string", required: false}
      - {label: "Linkedin (absolute url)", name: "linkedin", widget: "string", required: false}
      - {label: "Website (absolute url)", name: "website", widget: "string", required: false}
      - {label: "List all of your previous speaking engagements", name: "previoustalks", widget: "markdown", required: false}
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page"}
          - {label: Title, name: title, widget: string}
          - {label: Image, name: image, widget: image, required: false}
          - {label: Heading, name: heading, widget: string, required: false}
          - {label: Subheading, name: subheading, widget: string}
          - {label: Mainpitch, name: mainpitch, widget: object, fields: [{label: Title, name: title, widget: string}, {label: Description, name: description, widget: text}], required: false}
          - {label: Description, name: description, widget: string, required: false}
